.slider-two{
    width: 100%;
    height:100%;
    background-image: url("https://st.hzcdn.com/simgs/pictures/garages/garage-storage-organization-and-garage-shelving-more-space-place-mt-pleasant-img~db51180c08a2691b_14-7085-1-020af18.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}